*{
    text-align: center;
}
img {
    max-width: 100%;
}

body{
    background: #4e4d4d;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width:100vw;
}

nav{
    padding: 20px 5%; 
    border-right: solid 1px white;
    height:100vh;

}

nav section {
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
nav div{
    margin-bottom: 20px;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

/* Propiedades */

.propiedades {
    padding: 0px 20px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}
@media (max-width: 1400px) {
    .propiedades {
        grid-template-columns: repeat(3, 2fr);
    }
}
.propiedad{ 
    background: rgba(255, 255, 255, 0.068);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.39);
}
.propiedad .img{
    height: 150px;
    max-width: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
}
.propiedad section{
    padding: 10px 20px;

}

.propiedad section p{
    margin: 0px
}

.form-control {
    max-width: 70px;
}